#plugin-forms {
    .plugin-forms-panel {
        border: @brand-primary 1px solid;
        
        
        .panel-body {
            .panel {
                border: @brand-success 1px solid;
            
                .panel-heading {
                    background-color: none;
                    overflow: hidden;
                    
                    .panel-title {
                        text-transform: none;
                        line-height: 2.2em;
                    }
                    
                    .btn {
                        margin-left: 10px;
                    }
                }
                
                >.panel-body {
                    border-top: @brand-success 1px solid;
                }
            }
        }
    }
    
    #plugin-forms-modal-input {
        .modal-dialog {
            width: 720px;
            
            .modal-content {
                .modal-body {
                    div {
                        p {
                            button {
                                .text-left;
                                max-width: 150px;
                                width: 150px;
                                margin-left: 2px;
                                margin-right: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    ul {
        list-style-type: none;
    }
    
    .ui-sortable {
        padding-top: 10px;
        padding-left: 0;
        min-height: 55px;
    }
    
    .ui-sortable.well {
        padding: 19px 19px 0px;
    }
    
    .ui-state-highlight {
        height: 51px;
        line-height: 51px;
        border:1px blue dotted;
        margin-bottom: 20px;
    }
    
    hr {
        margin-top: 3px;
        margin-bottom: 10px;
    }
    
    .plugin-forms-label {
        
    }
    
    .plugin-forms-input {
        width: 350px;
    }
}

#plugin-forms-input-panel {
    .btn {
        .text-left;
        max-width: 150px;
        width: 150px;
        margin-left: 2px;
        margin-right: 2px;
    }
}